[submodule "nodeeditor"]
	path = nodeeditor
	url = https://github.com/paceholder/nodeeditor
[submodule "tracy"]
	path = tracy
	url = https://github.com/wolfpld/tracy
[submodule "libs/metadesk/metadesk"]
	path = libs/metadesk/metadesk
	url = https://github.com/Dion-Systems/metadesk
